.container{height: 70vh;}
.box{
    padding:25px;
    text-align: center;
    color: white;
    
}
#box1{
    background-color: teal;
    float:right ;
    width:100%;
    height: 20%;
    box-sizing: border-box;

}
#box2{
    background-color: rgb(30, 146, 107);
    float:left;
    width:10%;
    height:60%;
    box-sizing: border-box;

}
#box3{
    box-sizing: border-box;
    background-color: rgb(115, 202, 173);
    float:left;
    width:90%;
    height:60%;
}
#box4{
    background-color: rgb(21, 109, 80);
    float:right;
    width:100%;
    height: 20%;
    box-sizing: border-box;

}
       
