.container{height: 70vh;}
        .box{
            padding:25px;
            text-align: center;
            color: white;
            margin: 0;
            border: 0;
        }
        #box1{
            background-color: teal;
        height: 10%;
        }
        #box2{
            background-color: rgb(30, 146, 107);
            height: 100%;
            width: 10%;;
            float: left;
        }
        #box3{
            background-color: rgb(115, 202, 173);
        height: 100%;

        }
        #box4{
            background-color: rgb(21, 109, 80); margin: 0;
            height: 10%;
        
        }